/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 22, 2021, 11:21:17 AM
    Author     : dell
*/

.pagger a
{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    padding: 2px;
    margin-left: 2px;
}

.pagger span
{
    font-weight: bold;
}